@model KitapSecKayitSistemiRepo.Models.Truck

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-4 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1 text-center">Update Truck</h3>
            <form method="post" asp-action="Edit">
                <div class="form-check">
                    <label asp-for="TruckDriver"></label>
                    <input type="text" asp-for="TruckDriver" class="form-control" placeholder="Enter name" />
                    <input type="hidden" asp-for="TruckId" />
                    <span class="text-danger" asp-validation-for="TruckDriver"></span>
                </div>

           
                <div class="form-check">
                    <label asp-for="DriverPhone"></label>
                    <input type="text" asp-for="DriverPhone" class="form-control" placeholder="Enter DriverPhone" />
                    <span class="text-danger" asp-validation-for="DriverPhone"></span>

                </div>
                <div class="form-check">
                    <label asp-for="TruckSize"></label>
                    <input type="number" asp-for="TruckSize" class="form-control" placeholder="Enter TruckSize" />
                    <span class="text-danger" asp-validation-for="TruckSize"></span>

                </div>
                <div class="form-check">
                    <label asp-for="DrivingLicenceNumber"></label>
                    <input type="text" asp-for="DrivingLicenceNumber" class="form-control" placeholder="Enter DriverPhone" />
                    <span class="text-danger" asp-validation-for="DrivingLicenceNumber"></span>

                </div>
                <div class="form-check">
                    <label asp-for="NumberPlate"></label>
                    <input type="text" asp-for="NumberPlate" class="form-control" placeholder="Enter NumberPlate" />
                    <span class="text-danger" asp-validation-for="NumberPlate"></span>

                </div>
                <div class="form-check">
                    <label asp-for="WarehouseId"></label>
                    <input type="number" asp-for="WarehouseId" class="form-control" placeholder="Enter Warehouse Id" />
                    <span class="text-danger" asp-validation-for="WarehouseId"></span>

                </div>
               
                <div>
                    <input type="submit" class="btn btn-sm btn-warning m-2 p-2 float-end" value="Update" />
                </div>

            </form>
        </div>
    </div>
</div>
